go 1.22

use (
	./agents/s01-natural-language-to-tool-calls
	./agents/s02-own-your-prompts
	./agents/s03-own-your-context-window
	./agents/s04-tools-are-structured-outputs
	./agents/s05-unify-execution-state
)
